body {
  background-color: white;
}
div.container {
    border-width: 5px;
    float: right;
    padding: 10px 670px 0px 0px;
    margin-top: 300px;
}
div.backgroundImg{
  position: static;
   float: right;
  margin: -350px 150px 100px 80px;
}
